@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  min-height: calc(100vh - 144px);
}

.container.main {
  padding: 40px 20px;
}

::-webkit-scrollbar {
  border-radius: 6px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fabfbf;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ef5959;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #dc3232;
}
